body {
  margin: 0;
}


#sectionWrap{
  position: relative;
  min-height: 100vh;
}


#three-canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
	background-color: transparent;
	// pointer-events: none; /* optional if you want mouse to go "through" the canvas */
}


